<html>
<head>
	<title>nhn classical music club lesson fee management app</title>
	<link href="/resources/base.css" rel="stylesheet" type="text/css" media="screen" /> </head>
</head>
<body>
<div id="billboard"> 
	<h1>Lesson Apply Management</h1>
</div> 

<div id="columnwrap"> 
	<div id="content-main"> 

<form name="clss" method="post">
<table class="docutils">
	<colgroup> 
		<col width="16%" /> 
		<col width="8%" /> 
		<col width="8%" /> 
		<col width="8%" /> 
		<col width="20%" /> 
		<col width="4%" /> 
		<col width="4%" /> 
		<col width="4%" /> 
		<col width="4%" /> 
		<col width="4%" /> 
	</colgroup> 
	<tr>
		<th class="head">레슨악기</th>
		<th>강사</th>
		<th>사번</th>
		<th>이름</th>
		<th>소속부서</th>
		<th>기본</th>
		<th>운영</th>
		<th>연주</th>
		<th>계</th>
		<th>신청수</th>
	</tr>
{% for lesson, teachers in mapping.items %}
	<tr>
		<td rowspan="{{lesson.students}}">{{lesson.name}}</td>
		{% for teacher, students in teachers.items %}
			{% if not forloop.first %}</tr><tr>{% endif %}
			<td rowspan="{{teacher.students}}">{{teacher.name}}</td>
			{% for student in students %}
				{% if not forloop.first %}</tr><tr>{% endif %}
				<td>{{student.empid}}</td>
				<td>{{student.name}}</td>
				<td>{{student.department}}</td>
				<td>{{student.base}}</td>
				<td>{{student.operational}}</td>
				<td>{{student.performance}}</td>
				<td>{{student.net}}</td>
				<td>{{student.applies}}</td>
			{% endfor %}
		{% endfor %}
	</tr>
{% empty %}
	<tr>
	    <td colspan="10">No members yet.</td>
	</tr>
	<tr>
		<td>...</td>
		<td><input type="text" name="teacher" /></td>
		<td><input type="text" name="empid" /></td>
		<td><input type="text" name="name" /></td>
		<td><input type="text" name="department" /></td>
		<td><input type="text" name="base" /></td>
		<td><input type="text" name="operational" /></td>
		<td><input type="text" name="performance" /></td>
		<td>0</td>
		<td>0</td>
	</tr>
{% endfor %}
</table>
</form>

</div>
</div>
</body>
</html>
