<html>
<head>
	<title>nhn classical music club lesson fee management app</title>
	<link href="/resources/waterspill/style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body class="change-list">
	<div id="container">
		<div id="header">
			<h1>nhnclassic: Lessons</h1>
		</div>

		<div id="topMenu">
			{% include "menu.html" %}
		</div>

		<div id="main">
			<table id="result_list">
				<thead>
					<tr>
						<th rowspan="2" class="head">레슨</th>
						<th colspan="2" class="head">레슨대표</th>
						<th colspan="2" class="head">레슨정보</th>
					</tr>
					<tr>
						<th>이름</th>
						<th>부서</th>
						<th>강사명</th>
						<th>수업시간</th>
					</tr>
				</thead>
				<tbody>
					{% for lesson, teachers in datasource.items %}
					<tr class="separator">
						<th rowspan="{{lesson.safe_rowspan}}">{{lesson.alias}}</th>
						<th rowspan="{{lesson.safe_rowspan}}">{{lesson.manager_name}}</th>
						<td rowspan="{{lesson.safe_rowspan}}">{{lesson.manager_department}}</td>
						{% for teacher in teachers %}
							{% if not forloop.first %}</tr><tr>{% endif %}
							<td>{{teacher.name}}</td>
							<td>{{teacher.classwork}}</td>
						{% empty %}
							<th colspan="2">No teachers yet.</th>
						{% endfor %}
					</tr>
					{% empty %}
					<tr>
						<td colspan="4">No lessons.<br />Contact to club leader.</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
			<ul>
				<li>기타 레슨 관련 문의: 김인태(카페서비스개발1팀)</li>
			</ul>
		</div>

		<div id="footer">
			<p>Copyright &copy; http://club.nhn.com/classic | Terms | Site Map | Contact</p>
		</div><!-- end #footer -->
	</div>
</body>
</html>
