<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>nhn classical music club lesson fee management app</title>
	<!--link rel="stylesheet" type="text/css" href="/media/css/base.css" /-->
	<!-- link href="/resources/base.css" rel="stylesheet" type="text/css" media="screen" / -->
	<link href="/resources/waterspill/style.css" rel="stylesheet" type="text/css" media="screen" />
	<!--[if IE]>
	<style type="text/css"> 
	.twoColFixRtHdr #mainContent { zoom: 1; }
	</style>
	<![endif]-->
</head>
{% load aggregator %}
<body class="change-list">
	<div id="container">
		<div id="header">
			<h1>Lesson Apply Management</h1>
		</div>

		<div id="topMenu">
			{% include "menu.html" %}
		</div>

		<div id="main" class="flex">
			<table id="result_list">
				<thead>
					<tr>
						<th class="head" width="14%">레슨악기</th>
						<th width="10%">강사</th>
						<th width="10%">사번</th>
						<th width="10%">이름</th>
						<th width="23%">소속부서</th>
						<th width="4%">기<br />본</th>
						<th width="4%">운<br />영</th>
						<th width="4%">연<br />주</th>
						<th width="5%">계</th>
						<th width="5%">인원</th>
						<th width="10%">총액</th>
					</tr>
				</thead>
				<tbody>
					{% for lesson, teachers in mapping.items %}
					<tr>
						<th rowspan="{{lesson.entries}}"><a href="/lesson/{{lesson.id}}">{{lesson.alias}}</a></th>
						{% for teacher, students in teachers.items %}
							{% if not forloop.first %}</tr><tr>{% endif %}
							<th rowspan="{{teacher.entries}}"><a href="/lesson/{{lesson.id}}/{{teacher.id}}">{{teacher.name}}</a></th>
							{% for student in students %}
								{% if not forloop.first %}</tr><tr>{% endif %}
								<td>
									{% if not student.is_member %}<span style="color:red">{{student.empid}}</span>{% else %}{{student.empid}}{% endif %}
								</td>
								<td>
									{% if lesson.manager == student.empid %}<strong>{{student.name}}</strong>{% else %}{{student.name}}{% endif %}
									{% if student.applies > 1 %}<span style="color:red">*</span>{% endif %}
								</td>
								<td>{{student.department}}</td>
								<td class="number">{{student.base|reduced:10000}}</td>
								<td class="number">{{student.operational|reduced:10000}}</td>
								<td class="number">{{student.performance|reduced:10000}}</td>
								<td class="number">{{student.net|reduced:10000}}</td>
								{% if forloop.first %}
									<td rowspan="{{teacher.entries}}" class="number">{{teacher.students}}</td>
									<td rowspan="{{teacher.entries}}" class="number">{{teacher|payment:students|formatnum}}</td>
								{% endif %}
							{% endfor %}
							{% if teacher.has_additional %}
								{% for expense in teacher.additional %}
									{% if teacher.students or not forloop.first %}</tr><tr>{% endif %}
									<td></td>
									<td colspan="2">{{expense.desc}}</td>
									<td colspan="4" class="number">{{expense.amount|formatnum}}</td>
									{% if not teacher.students and forloop.first %}
										<td rowspan="{{teacher.entries}}" class="number">{{teacher.students}}</td>
										<td rowspan="{{teacher.entries}}" class="number">{{teacher|payment:students|formatnum}}</td>
									{% endif %}
								{% endfor %}
							{% endif %}
						{% endfor %}
					</tr>
					{% endfor %}
					<tr>
						<th class="number">레슨:{{mapping|lesson_total}}종</th>
						<th colspan="2" class="number">강사:{{mapping|teacher_total}}명</th>
						<th colspan="6" class="number">신청인원/총회원 수: {{mapping|student_total}} 명 / {{members}} 명</th>
						<th colspan="2" class="number">{{mapping|fee_total}}원</th>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="footer">
			<p>Copyright &copy; http://club.nhn.com/classic | Terms | Site Map | Contact</p>
		</div><!-- end #footer -->
	</div>
</body>
</html>
