{% load aggregator %}
<html>
<head>
	<title>nhn classical music club lesson fee management app</title>
	<link href="/resources/waterspill/style.css" rel="stylesheet" type="text/css" media="screen" />
	<!--[if IE]>
	<style type="text/css"> 
	.twoColFixRtHdr #mainContent { zoom: 1; }
	</style>
	<![endif]-->
	<script type="text/javascript" src="/resources/extjs/adapter/ext/ext-base.js"></script>
	<script type="text/javascript" src="/resources/extjs/ext-all.js"></script>
	<script type="text/javascript" src="/resources/extjs/examples/ux/TableGrid.js"></script>
	<script type="text/javascript" src="/resources/connector/js/Ext.ux.DateTime.js"></script>
	<script type="text/javascript" src="/resources/connector/js/Ext.ux.AutoEditableGrid.js"></script>
	<script type="text/javascript" src="/resources/connector/js/Ext.ux.DynamicGridPanel.js"></script>
	<script type="text/javascript" src="/resources/connector/js/Ext.ux.AutoGridPanel.js"></script>
	<script type="text/javascript" src="/resources/connector/js/Ext.ux.AutoGrid.js"></script>
	<script type="text/javascript" src="/resources/connector/js/Ext.ux.DjangoForms.js"></script>
	<link rel="stylesheet" type="text/css" href="/resources/extjs/resources/css/ext-all.css" /> 
	<link rel="stylesheet" type="text/css" href="/resources/connector/css/genericforms.css" />
	<script type="text/javascript" src="/resources/jquery/js/jquery-1.4.2.min.js"></script>
	<script type="text/javascript" src="/resources/jquery/js/jquery-ui-1.8.4.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/resources/jquery/css/ui-lightness/jquery-ui-1.8.4.custom.css" />
	<script type="text/javascript">
		function switchGrid(teacher_id) {
			new Ext.ux.grid.TableGrid('lesson' + teacher_id, { stripeRows: true }).render();
		}

	$(function() {
		$("#dialog").dialog();
	});

	</script>
</head>
<body>
<body class="change-list">
	<div id="container">
		<div id="header">
			<h2>Lesson Arrangement:</h2>
			<h1>{{lesson.name}}</h1>
		</div>

		<div id="topMenu">
			{% include "menu.html" %}
		</div>

		<div id="main">
			{% for teacher, students in datasource.items %}
			<form name="form{{teacher.id}}" method="post">
			<h3 class="title">::{{teacher.name}}</h3>
			<span onclick="switchGrid({{teacher.id}});">[edit]</span>
			<table id="lesson{{teacher.id}}">
				<thead>
					<tr>
						<th>사번</th>
						<th>이름</th>
						<th>소속부서</th>
						<th>기본</th>
						<th>운영</th>
						<th>연주</th>
						<th>계</th>
					</tr>
				</thead>
				{% for student in students %}
				<tbody>
					<tr id="{{student.empid}}">
						<td>
							{% if not student.is_member %}<span style="color:red">{{student.empid}}</span>{% else %}{{student.empid}}{% endif %}
						</td>
						<td>{% if lesson.manager == student.empid %}<strong>{{student.name}}</strong>{% else %}{{student.name}}{% endif %}</td>
						<td>{{student.department}}</td>
						<td class="number">{{student.base|formatnum}}</td>
						<td class="number">{{student.operational|formatnum}}</td>
						<td class="number">{{student.performance|formatnum}}</td>
						<td class="number">{{student.net|formatnum}}</td>
					</tr>
				{% empty %}
					<tr>
						<td colspan="7">No applies yet.</td>
					</tr>
				{% endfor %}
				{% for expense in teacher.additional %}
					<tr>
						<td></td>
						<td></td>
						<td class="number">{{expense.desc}}:</td>
						<td colspan="4" class="number">{{expense.amount|formatnum}}</td>
					</tr>
				{% endfor %}
					<tr>
						<th>인원:</th>
						<th class="number">{{teacher.students}}</th>
						<th></th>
						<th colspan="3" class=number">지원금 총액:</th>
						<th class="number">{{teacher|payment:students|formatnum}}</th>
					</tr>
				</tbody>
			</table>
			</form>
			{% endfor %}
		</div>

		<div id="footer">
			<p>Copyright &copy; http://club.nhn.com/classic | Terms | Site Map | Contact</p>
		</div><!-- end #footer -->
	</div>

<div id="dialog" title="Basic dialog">
	<p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
</div>

<script type="text/javascript">
/*

var users_grid = new Ext.ux.AutoGrid({
	autoWidth:true
	,showBbar:true
	,loadMask:true
	,store:new Ext.data.JsonStore({
		autoLoad:true
		,remoteSort:true
		,proxy:new Ext.data.HttpProxy({
			url:'/test'
			,method:'POST'
		})
	})
});

var w = new Ext.Window({
	title:'nhn classic lesson'
	,items:users_grid
}).show();
*/
</script>
</body>
</html>
