{% load aggregator %}
<html>
<head>
	<title>nhn classical music club lesson fee management app</title>
	<link href="/resources/waterspill/style.css" rel="stylesheet" type="text/css" media="screen" />
	<!--[if IE]>
	<style type="text/css"> 
	.twoColFixRtHdr #mainContent { zoom: 1; }
	</style>
	<![endif]-->
</head>
<body>
<body class="change-list">
	<div id="container">
		<div id="header">
			<h1>nhnclassic</h1>
		</div>

		<div id="topMenu">
			{% include "menu.html" %}
		</div>

		<div id="main">
			<table id="lesson{{teacher.id}}">
				<thead>
					<tr>
						<th>수업명</th>
						<th>강사명</th>
						<th>수업시간</th>
						<th>참석인원</th>
						<th>강사료</th>
					</tr>
				</thead>
				<tbody>
				{% for teacher in teachers %}
					<tr>
						<td>{{teacher.lesson.alias}}</td>
						<td>{{teacher.name}}</td>
						<td>{{teacher.classwork}}</td>
						<td class="number">{% if teacher.students %}{{teacher.students}} 명{% else %}&ndash;&nbsp;{% endif %}</td>
						<td class="number">{{teacher.fee|formatnum}} 원</td>
					</tr>
				{% endfor %}
					<tr>
						<td>총계</td>
						<td colspan="2"></td>
						<td class="number">{{students|formatnum}} 명</td>
						<td class="number">{{fee|formatnum}} 원</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div id="footer">
			<p>Copyright &copy; http://club.nhn.com/classic | Terms | Site Map | Contact</p>
		</div><!-- end #footer -->
	</div>
</body>
</html>
