<html>
<head>
	<title>nhn classical music club lesson fee management app</title>
	<link href="/resources/base.css" rel="stylesheet" type="text/css" media="screen" /> </head>
<body>
<div id="billboard"> 
	<h1>Lesson Master Management</h1>
</div> 

<div id="columnwrap"> 
	<div id="content-main"> 

<h3>database archived</h3>
<ul>
{% for master in masters reversed %}
	<li>{{master}}</li>
{% empty %}
	<li>No lesson rotations.</li>
{% endfor %}
</ul>

{% if init_slot %}
<h4>{{init_slot}}</h4>
{% endif %}

<form name="member" enctype="multipart/form-data" action="/manage/create" method="post">{% csrf_token %}
	<input type="file" name="excel" size="30" />
	<input type="submit" value="다음달({{next_month}}월) 레슨관리 페이지 생성" />
</form>
</div>
<h3>Lesson Master Management:</h3>
<h4>{% now "Y년 m월 d일" %}</h4>
</div>
</body>
</html>
