<html>
<head>
	<title>nhn classical music club lesson fee management app</title>
</head>
<body>
<h1>레슨 회차 관리</h1>

<dl>
	<dt>{{today}}</dt>
	{% if current_rotation and not current_rotation.archive %}
		<dd><a href="/manage/arrange">{{current_month}}월 레슨 관리</a></dd>
	{% endif %}
	{% if not next_rotation %}
		<dd><a href="/manage/prepare">{{next_month}}월 레슨관리 생성</a></dd>
	{% endif %}
</dl>

<h3>Lesson Round Archives:</h3>
{% if rotations %}
    <table>
		<tr>
			<th>차수</th>
			<th>회원기준일</th>
			<th>비고</th>
		</tr>
    {% for rotation in rotations %}
		<tr>
	        <td><a href="/basis/{{ rotation.id }}/">{{rotation.rotation}}</a></td>
			<td>{{rotation.creation_date}}</td>
			<td>{% if not rotation.archive %}관리중{% endif %}</td>
		</tr>
    {% endfor %}
    </table>
{% else %}
    <p>No lesson rotations archives.</p>
{% endif %}
<body>
</html>
